body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background: #fefefe;
}
#showcase{
    position: relative;
    height:50vh;
    width:100%;
    background: url('../images/—Pngtree—casino\ illustration\ with\ roulette\ wheel\,_989890.png')no-repeat center center / cover;
    /* background:red; */
}
#showcase::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    background: #111;
    opacity:.7;
    height:100%;
    width:100%;
}

.card{
    padding:1rem !important;
    background: white;
    border: none !important;
}
.article-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    grid-gap: 1rem;
}
#articles .article-container > *:first-child,
#articles .article-container > *:last-child{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-column: 1 / span 2;
}
#main-footer{
    background:black;
    color:white;
    padding:2rem 0;
}
#main-footer img{
    width:60px;
}
#articles .article-container > *:last-child{
    grid-column: 2 / span 2;
}
#main-footer .footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;
}

#main-footer .footer-container > *:last-child{
    background: red;
    grid-column: 1 / span 4;
    text-align: center;
}